<?xml version="1.0"?>
<model>
  <name>3DR Iris with camera and sonar</name>
  <version>1.0</version>
  <sdf version='1.0'>iris_odom.sdf</sdf>

  <author>
   <name>Jan Brehmer</name>
   <email>jan.brehmer@dai-labor.de</email>
  </author>

  <description>
    3DR Iris with camera and sonar both exposing a ROS topic.
  </description>
</model>
